<%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track' => true %>

<div id="nav" class="twelve columns">
 <ul>
 <li><a class="button" href="/">Home</a></li>
 <li><a class="button" href="/admins">Admin</a></li>
 <li><a class="button" href="/items">Menu</a></li>
 <li><a class="button" href="/orders">Orders</a></li>
 <li><a class="button" href="/parties">Parties</a></li>
 </ul>
</div>
<h4>Admin Page</h4>
<%=form_tag session_path do %>
  <%= text_field_tag :username, "Username"%>
  <%= password_field_tag :password, "Password" %>
  <%= submit_tag "Log In", class: "btn btn-primary"%>
<%end%>
<br>
<%= button_to 'NEW ADMIN', '/admins/new', method: :get, class: "waves-effect waves-light btn" %>
