<%= stylesheet_link_tag   'admins', media: 'all', 'data-turbolinks-track' => true %>

<div id="nav" class="twelve columns">
 <ul>
 <li><a class="button" href="/">Home</a></li>
 <li><a class="button" href="/admins">Admin</a></li>
 <li><a class="button" href="/items">Menu</a></li>
 <li><a class="button" href="/orders">Orders</a></li>
 <li><a class="button" href="/parties">Parties</a></li>
 </ul>
</div>
<h4>New Administrator?</h4>
<%= form_for @admin do |f| %>
<%= f.text_field :username %>
<%=f.text_field :password %>
  <%= f.submit :class => "button-primary" %>
<% end %>

<br>
<p>Have an account?</p>
<%= button_to 'Login', 'admin_path', method: :get, class: "button-primary" %>
